{% extends 'base.html.twig' %}

{% block title %}Edit Notice{% endblock %}

{% block body %}
    <h1 style="text-align: center">Edit Notice</h1>
    <div class="form-group" style="width: 500px; margin-left: auto; margin-right: auto">


        {{ include('notice/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('notice/_delete_form.html.twig') }}
    </div>
{% endblock %}
